apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: jenkins
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 1m

    route:
      receiver: "log-alerts"
      group_wait: 10s
      group_interval: 30s
      repeat_interval: 1h

    receivers:
    - name: "log-alerts"
