apiVersion: v1
kind: ConfigMap
metadata:
  name: flask-alert-rules
  namespace: jenkins
data:
  flask-alerts.yaml: |
    groups:
    - name: flask-app-alerts
      rules:

      # 1️⃣ App Down
      - alert: FlaskAppDown
        expr: up{job="flask-app"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Flask application is DOWN"
          description: "No Flask app pods are responding for more than 1 minute."

      # 2️⃣ High Error Rate (5xx)
      - alert: FlaskHighErrorRate
        expr: |
          sum(rate(flask_http_requests_total{status=~"5.."}[2m]))
          /
          sum(rate(flask_http_requests_total[2m]))
          > 0.05
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "High error rate detected"
          description: "More than 5% of Flask requests are failing with 5xx errors."

      # 3️⃣ High Latency (p95)
      - alert: FlaskHighLatency
        expr: |
          histogram_quantile(
            0.95,
            sum by (le) (
              rate(flask_http_request_latency_seconds_bucket[2m])
            )
          ) > 1
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "High request latency"
          description: "95th percentile latency is above 1 second."
